<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <a href="../splash screen/index.html">
        <img src="../images/footer-logo.png" alt="" />
      </a>
      <p>Информационная экосистема Рязанской области — Наш Дом Рязань</p>
    </div>
    <div class="footer-wrapper">
      <div class="footer-title">
        <h1>Разделы сайта</h1>
        <div class="footer-list">
          <ul>
            <li>
              <a href="">Управляющие организации дома</a>
            </li>
            <li>
              <a href="">Рейтинги и Исполнители</a>
            </li>
            <li>
              <a href="">Жалобыи обращения</a>
            </li>
            <li>
              <a href="">Общественные обсуждения</a>
            </li>
            <li>
              <a href="">Опросы</a>
            </li>
          </ul>
          <div class="footer-list-2">
            <ul>
              <li>
                <a href="">Реестр организаций-партнеров</a>
              </li>
              <li>
                <a href="">Информация об УПЧ</a>
              </li>
              <li>
                <a href="">Запись к УПЧ</a>
              </li>
              <li>
                <a href="">Общественные обсуждения</a>
              </li>
              <li>
                <a href="">Написать уполномоченному</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-list">
      <h1>Помощь</h1>
      <ul>
        <li>
          <a href="">Написать в техподдержку</a>
        </li>
        <li>
          <a href="">Вопросы и ответы</a>
        </li>
        <li>
          <a href="">Пользовательское соглашение</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      Copyright © 2022 Nash Dom Inc. <br />
      All rights reserved.
    </p>
    <div class="footer-bottom__images">
      <a href="">
        <img src="../images/App store.png" alt="" />
      </a>
      <a href="">
        <img src="../images/Google play.png" alt="" />
      </a>
    </div>
  </div>
</footer>
